.loginWrapper {
    min-height: 100vh;
    background: url('https://d9dvmj2a7k2dc.cloudfront.net/catalog/product/2/7/27004-38-35-23-14-t694_asl20241.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.loginBox {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.loginBox h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    margin-top: 0px;
}

.loginBox form {
    display: flex;
    flex-direction: column;

}

.loginBox input {
    margin-bottom: 1rem;
    padding: 12px 16px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
}

.loginBox button {
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
}

.loginBox button:hover {
    background-color: #333;
}

.loginBox p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.loginBox a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}

.passwordField {
  position: relative;
}

.passwordField input {
  width: 100%;
  padding-right: 40px;
}

.eyeIcon {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}

.topSuccess {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e6f9ec;
  color: #2d7a46;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 15px;
  z-index: 9999;
  animation: fadeSlideDown 0.4s ease-out;
}

.successIcon {
  font-size: 18px;
  color: #2d7a46;
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
